{{- if .IsPage -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title | jsonify }},
  "description": {{ if .Description }}{{ .Description | jsonify }}{{ else }}{{ .Summary | plainify | jsonify }}{{ end }},
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
  "author": {
    "@type": "Person",
    "name": {{ if .Params.author }}{{ .Params.author | jsonify }}{{ else if site.Params.author }}{{ site.Params.author | jsonify }}{{ else }}{{ site.Title | jsonify }}{{ end }}{{ if site.Params.social.email }},
    "email": {{ site.Params.social.email | jsonify }}{{ end }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.Title | jsonify }}{{ if site.Params.avatar }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ site.Params.avatar.url | jsonify }}
    }{{ end }}
  }{{ if .Params.image }},
  "image": {{ .Params.image | absURL | jsonify }}{{ else if site.Params.avatar }},
  "image": {{ site.Params.avatar.url | jsonify }}{{ end }}{{ if .Params.tags }},
  "keywords": {{ .Params.tags | jsonify }}{{ end }}
}
</script>
{{- else -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ site.Title | jsonify }},
  "url": {{ site.BaseURL | jsonify }},
  "description": {{ site.Params.description | jsonify }}{{ if site.Params.social }},
  "author": {
    "@type": "Person",
    "name": {{ if site.Params.author }}{{ site.Params.author | jsonify }}{{ else }}{{ site.Title | jsonify }}{{ end }}{{ if site.Params.social.email }},
    "email": {{ site.Params.social.email | jsonify }}{{ end }}
  }{{ end }}{{ if site.Params.avatar }},
  "publisher": {
    "@type": "Organization",
    "name": {{ site.Title | jsonify }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ site.Params.avatar.url | jsonify }}
    }
  }{{ end }}
}
</script>
{{- end -}}

