{{/* 
  Resolves post image from front matter, page resources, static resources, or auto-discovery.
  Returns a dictionary with 'image' (path string) and 'imageResource' (resource object).
*/}}
{{ $image := .Params.image }}
{{ $imageResource := false }}

{{ if $image }}
  {{/* Try to resolve as page resource first (content folder) */}}
  {{ $imageResource = .Resources.Get $image }}
  {{ if not $imageResource }}
    {{ $imageResource = .Resources.GetMatch $image }}
  {{ end }}
  
  {{/* If not found as page resource, try as static resource */}}
  {{ if not $imageResource }}
    {{ $imageResource = resources.Get $image }}
  {{ end }}
{{ else }}
  {{/* Auto-discovery: try to find image based on title */}}
  {{ $titleSlug := .Title | urlize }}
  {{ $imageExtensions := slice ".png" ".jpg" ".jpeg" ".webp" }}
  {{ range $imageExtensions }}
    {{ $potentialImage := printf "/images/%s%s" $titleSlug . }}
    {{ $staticPath := printf "static/images/%s%s" $titleSlug . }}
    {{ if (fileExists $staticPath) }}
      {{ $image = $potentialImage }}
      {{ $imageResource = resources.Get $image }}
      {{ break }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return (dict "image" $image "imageResource" $imageResource) }}

